/*
 * Copyright (c) 2021 Rafael Yumagulov
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &extra_keys_transform;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp F             &kp P             &kp B                   &kp J                    &kp L              &kp U       &kp Y    &kp SLASH      &bt BT_NXT
&lt 1 TAB   &kp A  &kp R  &kp S             &mt LEFT_SHIFT T  &kp G                   &kp M                    &mt RIGHT_SHIFT N  &kp E       &kp I    &kp O          &lt 1 TAB
&mo 2       &kp Z  &kp X  &kp C             &kp D             &kp V                   &kp K                    &kp H              &kp COMMA   &kp DOT  &kp SEMICOLON  &tog 2
                          &kp LEFT_COMMAND  &kp LEFT_ALT      &mt LEFT_CONTROL SPACE  &mt RIGHT_CONTROL ENTER  &kp BACKSPACE      &kp DELETE
            >;
        };

        lower_layer {
            bindings = <
&trans  &kp EXCLAMATION   &kp AMPERSAND      &kp AT_SIGN           &kp PERCENT                       &kp DOLLAR        &kp MINUS  &kp HASH               &kp GRAVE          &kp BACKSLASH     &kp SLASH  &trans
&trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_PARENTHESIS  &mt LEFT_SHIFT RIGHT_PARENTHESIS  &kp LA(NUMBER_3)  &kp PLUS   &mt RIGHT_SHIFT UNDER  &kp DOUBLE_QUOTES  &kp SQT           &kp STAR   &trans
&trans  &kp CARET         &kp TILDE          &kp LEFT_BRACE        &kp RIGHT_BRACE                   &kp RA(NUMBER_2)  &kp PIPE   &kp EQUAL              &kp LESS_THAN      &kp GREATER_THAN  &kp COLON  &trans
                                             &trans                &trans                            &trans            &trans     &trans                 &trans
            >;
        };

        raise_layer {
            bindings = <
&trans  &none     &kp PAGE_UP     &kp UP_ARROW  &kp PAGE_DOWN  &none           &kp MINUS  &kp N7        &kp N8        &kp N9        &kp SLASH   &trans
&trans  &kp HOME  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT      &kp END         &kp PLUS   &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp STAR    &trans
&trans  &none     &none           &none         &none          &bt BT_CLR_ALL  &kp N0     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD  &trans
                                  &trans        &trans         &trans          &trans     &trans        &trans
            >;
        };
    };
};
