/*
 * Copyright (c) 2021 Rafael Yumagulov
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &extra_keys_transform;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp F             &kp P             &kp B                   &kp J                    &kp L              &kp U       &kp Y    &kp SLASH      &tog 3
&lt 1 TAB   &kp A  &kp R  &kp S             &mt LEFT_SHIFT T  &kp G                   &kp M                    &mt RIGHT_SHIFT N  &kp E       &kp I    &kp O          &lt 1 TAB
&mo 2       &kp Z  &kp X  &kp C             &kp D             &kp V                   &kp K                    &kp H              &kp COMMA   &kp DOT  &kp SEMICOLON  &mo 2
                          &kp LEFT_CONTROL  &kp LEFT_ALT      &mt LEFT_COMMAND SPACE  &mt RIGHT_COMMAND ENTER  &kp BACKSPACE      &kp DELETE
            >;
        };

        lower_layer {
            bindings = <
&trans  &kp EXCLAMATION   &kp AMPERSAND      &kp AT_SIGN           &kp PERCENT                       &kp DOLLAR        &kp MINUS  &kp HASH               &kp GRAVE          &kp BACKSLASH     &kp SLASH  &trans
&trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_PARENTHESIS  &mt LEFT_SHIFT RIGHT_PARENTHESIS  &kp LA(NUMBER_3)  &kp PLUS   &mt RIGHT_SHIFT UNDER  &kp DOUBLE_QUOTES  &kp SQT           &kp STAR   &trans
&trans  &kp CARET         &kp TILDE          &kp LEFT_BRACE        &kp RIGHT_BRACE                   &kp RA(NUMBER_2)  &kp PIPE   &kp EQUAL              &kp LESS_THAN      &kp GREATER_THAN  &kp COLON  &trans
                                             &trans                &trans                            &trans            &trans     &trans                 &trans
            >;
        };

        raise_layer {
            bindings = <
&trans  &none     &kp PAGE_UP     &kp UP_ARROW  &kp PAGE_DOWN  &none    &kp MINUS  &kp N7        &kp N8        &kp N9        &kp SLASH   &trans
&trans  &kp HOME  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT      &kp END  &kp PLUS   &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp STAR    &trans
&trans  &none     &none           &none         &none          &none    &kp N0     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD  &trans
                                  &trans        &trans         &trans   &trans     &trans        &trans
            >;
        };

        adjust_layer {
            bindings = <
&trans  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F6      &kp F7      &kp F8      &kp F9   &kp F10  &trans
&trans  &kp F11  &kp F12  &kp F13  &kp F14  &kp F15  &kp F16     &kp F17     &kp F18     &kp F19  &kp F20  &trans
&trans  &kp F21  &kp F22  &kp F23  &kp F24  &none    &bt BT_NXT  &bt BT_PRV  &bt BT_CLR  &none    &none    &trans
                          &trans   &trans   &trans   &trans      &trans      &trans
            >;
        };
    };
};
